# Cleansing The DataSet

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
df = pd.read_csv('tmdb-movies.csv')

In [52]:
df

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [53]:
df.shape

(10866, 21)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [55]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [43]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [56]:
del_cols = [ 'id', 'popularity', 'homepage', 'keywords', 'tagline', 'overview', 'production_companies', 'vote_average']

df.drop(del_cols,axis = 1 ,inplace = True)

In [79]:
print("Rows With Zero Values In The Budget Column:",df[(df['budget']==0)].shape[0])

Rows With Zero Values In The Budget Column: 5696

In [80]:
df.shape

(10865, 13)

In [58]:
df.isna().sum()

imdb_id           10
budget             0
revenue            0
original_title     0
cast              76
director          44
runtime            0
genres            23
release_date       0
vote_count         0
release_year       0
budget_adj         0
revenue_adj        0
dtype: int64

In [59]:
df.fillna(0)
print()

In [60]:
sum(df.duplicated())

1

In [61]:
df.drop_duplicates(inplace = True)

In [62]:
df.shape

(10865, 13)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10865 entries, 0 to 10865
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         10855 non-null  object
 1   budget          10865 non-null  int64
 2   revenue         10865 non-null  int64
 3   original_title  10865 non-null  object
 4   cast            10789 non-null  object
 5   director        10821 non-null  object
 6   runtime         10865 non-null  int64
 7   genres          10842 non-null  object
 8   release_date    10865 non-null  object
 9   vote_count      10865 non-null  int64
 10  release_year    10865 non-null  int64
 11  budget_adj      10865 non-null  float64
 12  revenue_adj     10865 non-null  float64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.2+ MB

# Performing EDA on the Dataset

## Question_1
### Which are the movies with the third lowest and third highest budget?

In [63]:
largest_budget = df.nlargest(3, ['budget'])
largest_budget.tail(1)

,imdb_id,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,release_year,budget_adj,revenue_adj
7387,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,169,Adventure|Fantasy|Action,5/19/07,2626,2007,3.155006e+08,1.010654e+09

In [77]:
df4 = df[(df.budget != 0)]
df5 = df4.sort_values(by='budget', ascending=False, na_position='first')
df5.nsmallest(3, 'budget')



#df4.tail(3)
#df5.head(1)

,imdb_id,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,release_year,budget_adj,revenue_adj
1151,tt2165765,1,0,Fear Clinic,Thomas Dekker|Robert Englund|Cleopatra Coleman...,Robert Hall,95,Horror,10/31/14,15,2014,0.921091,0.000000
2618,tt0120836,1,100,Lost & Found,David Spade|Sophie Marceau|Ever Carradine|Step...,Jeff Pollack,95,Comedy|Romance,4/23/99,14,1999,1.309053,130.905285
3065,tt0963743,1,0,"Angus, Thongs and Perfect Snogging",Georgia Groome|Eleanor Tomlinson|Aaron Taylor-...,Gurinder Chadha,100,Comedy|Drama|Family|Romance,7/25/08,146,2008,1.012787,0.000000

## Question_2

### Which are the movies with most and least earned revenue?

In [30]:
df.nsmallest(1,['revenue_adj'])

,imdb_id,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,release_year,budget_adj,revenue_adj
48,tt2231253,30000000,0,Wild Card,Jason Statham|Michael Angarano|Milo Ventimigli...,Simon West,92,Thriller|Crime|Drama,1/14/15,481,2015,2.759999e+07,0.0

In [32]:
df.nlargest(1, ['revenue_adj'])

,imdb_id,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,release_year,budget_adj,revenue_adj
1386,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,162,Action|Adventure|Fantasy|Science Fiction,12/10/09,8458,2009,2.408869e+08,2.827124e+09

## Question_3

### What is the average runtime of movies in the year 2006?

In [33]:
df2 = df[(df.release_year == 2006)]
df2['runtime'].mean()

101.68382352941177

## Question_4

### What is the average number of words in movie titles between the year 2000-2005?

In [43]:
df3 = df[(df.release_year <= 2005) & (df.release_year >= 2000)]
df3

,imdb_id,budget,revenue,original_title,cast,director,runtime,genres,release_date,vote_count,release_year,budget_adj,revenue_adj
2633,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,178,Adventure|Fantasy|Action,12/18/01,6079,2001,1.145284e+08,1.073080e+09
2634,tt0241527,125000000,976475550,Harry Potter and the Philosopher's Stone,Daniel Radcliffe|Rupert Grint|Emma Watson|John...,Chris Columbus,152,Adventure|Fantasy|Family,11/16/01,4265,2001,1.539360e+08,1.202518e+09
2635,tt0166924,15000000,20117339,Mulholland Drive,Naomi Watts|Laura Harring|Ann Miller|Dan Heday...,David Lynch,147,Thriller|Drama|Mystery,5/16/01,709,2001,1.847232e+07,2.477426e+07
2636,tt0246578,6000000,1270522,Donnie Darko,Jake Gyllenhaal|Patrick Swayze|Drew Barrymore|...,Richard Kelly,113,Fantasy|Drama|Mystery,1/18/01,1777,2001,7.388929e+06,1.564633e+06
2637,tt0198781,115000000,562816256,"Monsters, Inc.",John Goodman|Billy Crystal|Mary Gibbs|Steve Bu...,Lee Unkrich|David Silverman|Pete Docter,92,Fantasy|Animation|Family|Comedy,11/1/01,3899,2001,1.416211e+08,6.931015e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8883,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,105,Thriller,7/19/00,12,2000,1.899438e+07,6.606877e+06
8884,tt0222270,0,0,Phir Bhi Dil Hai Hindustani,Juhi Chawla|Shah Rukh Khan|Johnny Lever|Shakti...,Aziz Mirza,168,Romance|Comedy|Drama,1/21/00,12,2000,0.000000e+00,0.000000e+00
8885,tt0234853,0,0,The Tao of Steve,Donal Logue|Ayelet Kaznelson|John Hines|John H...,Jenniphr Goodman,87,Comedy|Romance,8/4/00,13,2000,0.000000e+00,0.000000e+00
8886,tt0262432,0,0,George Washington,Candace Evanofski|Donald Holden|Damian Jewan L...,David Gordon Green,89,Drama,10/1/00,14,2000,0.000000e+00,0.000000e+00
8887,tt0250440,0,0,Is It Fall Yet?,Tracy Grandstaff|Wendy Hoopes,Karen Disher|Guy Moore,75,Animation|Comedy,8/27/00,14,2000,0.000000e+00,0.000000e+00

In [56]:
count = df['original_title'].str.split().str.len()
count.mean()

2.857340082834791